*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background: #1E1E1E;
  padding: 72px 104px;
  display: grid;
  justify-content: center;
}

main
{
  display: grid;
  grid-template-columns: repeat(3, 370px);
  row-gap: 48px;
  column-gap: 68px;
  margin-top: 62px;
}

h1
{
  font-family: "Mulish", sans-serif;
  color: #02799D;
  font-size: 59px;
}

h3
{
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  font-size: 32px;
}

.card
{
  border-radius: 8px;
  border: solid 2px #323238;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #202024;
  overflow: hidden;
}

h2
{
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  font-size: 35px;
  padding: 24px 32px 0px;
}

p
{
  padding: 24px 32px 32px;
}